@import url(./style.css);

.main{
    margin-top: 12px;
}

.main .title {
    text-align: center;
    font-size: 40px;
    color: #fff;
}


.lang{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lang a {
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 2%;
    background-size: cover;
    transition: all .3s ease-in-out;
}

.lang a:hover, .lang a:focus {
    transform: scale(1.05);
}

.eng{
    background-image: url(../pics/UnionJack.png);
}
.esp{
    background-image: url(../pics/Spanishflag.svg);
}
.esp6{
    background-image: url(../pics/Spanishflag.svg);
}
.lat{
    background-image: url(../pics/VaticanCity.png);
}
