@import url(style.css);

p, td {
    color: #ccc;
    font-size: 16px;
    text-align: center; 
}

td{
    padding: 9px;
}

.warning{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    font-size: 20px;
    background: yellow;
    border-radius: 15px;
    padding: 20px;
    color: #333;
    box-shadow: 0 0 15px yellow;
}

.thanks{
    margin-top: 25px;
}

.teach{
    margin: auto;
    font-style: italic;
}

.teach tr {
    display: block;
    margin: auto;
}

.home {
    display: block;
    width: 240px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    color: #ccc;
    font-size: 23px;
    background: #000000;
    padding: 15px 0;
    transition: all .3s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 0 25px #000000;
}

.home:hover, .home:focus {
    transform: scale(1.07);
}
